@model IEnumerable<DT191G_Mom3.Models.Author>

@{
    ViewData["Title"] = "Index author";
}

<h1>Index author</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger">
        @TempData["ErrorMessage"]
    </div>
}
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.AuthorId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.AuthorId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.AuthorId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
